    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4">Iniciar Sesión</h2>
                <form id="loginForm">
                    <div class="form-group">
                        <label for="inputEmail">Correo Electrónico</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Correo Electrónico"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña"
                            required />
                    </div>
                    <button type="button" class="btn btn-danger">
                        Iniciar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>