<header class="header">
  <div class="container">
    <div class="btn-menu">
      <label for="btn-menu">☰</label>
    </div>
  </div>
</header>
<div class="capa"></div>
<input type="checkbox" id="btn-menu"/>
<div class="container-menu">
  <div class="cont-menu">
    <nav>
      <button type="button" class="btn btn-success m-2">
        <i class="bi bi-plus-circle-dotted"></i>
        Añadir Tarea
      </button>

      <a href="">Hoy</a>

      <a href="">Semana</a>

      <a href="">Calendario</a>
    </nav>
    <label for="btn-menu">✖️</label>
  </div>
</div>
